body{
    text-align: center;
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
}

p {
    color: white;
}

img {
    border-radius: 50%;
    margin-top: 20px;
}

button {
    background-color: white;
    color: black;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.card{
    background:white;
    width:300px;
    margin:40px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

input{
    padding:10px;
    width:90%;
    border-radius:5px;
    border:1px solid gray;
}

a{
    margin:10px;
    text-decoration:none;
    color:white;
    background:blue;
    padding:8px 15px;
    border-radius:5px;
}
